/* Applying CSS GRID property */

.grid-container{
    background-color: indianred;
    padding: 20px;

    display: grid;
    grid-template-columns: 200px 40% 150px;     /* auto  */          /*  jitne columns banane hai utne auto/ya pixel/ya % likhte jao aage  */
    grid-template-rows: 200px 150px auto;
    justify-content: center;                /*  space-between , space-around , end  */
     
}

.grid-item{
    background-color: wheat;
    border: 2px solid black;
    margin: 10px;                   /*  margin -> box ke outside AROUND spacing     */
    padding: 10px;                  /*  padding -> box ke inside AROUND spacing     */
    font-size: 20px;
    text-align: center;
}